/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   /*background-color: rgb(8, 120, 175);*/
   background-color: #F6F6F6;
 }

 h1{
   /*font-family: 'Roboto', sans-serif;*/
   font-family: 'PT Sans', sans-serif;
   font-size: 36px;
   font-weight: bolder;
 }

 a{
   /*font-family: 'Roboto', sans-serif;*/
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   font-weight: bolder;
 }

hr {
  background-color: #DE1B1B;
  height: 2px;
  border: 0;
}

 a:link {
    /*color: rgb(77, 7, 0);*/
    /*color: #E44424;*/
    color: #2B2B2B;
}

/* visited link */
a:visited {
    /*color: rgb(255, 161, 136)*/
    color: #67BCDB;
}

/* mouse over link */
a:hover {
    color: #585858;
}

p {
  color: ##2B2B2B;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
}

/* selected link */
a:active {
    color: blue;
}
